{% extends 'fixorder/base.html' %}
{% block content %}
{% load static %}
<<!-- Кнопка для открытия модального окна -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Открыть форму
</button>

<!-- Модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Создать клиента</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <form id="dataForm">
          <div class="mb-3">
            <label for="nameInput" class="form-label">Имя</label>
            <input type="text" class="form-control" id="nameInput" placeholder="Введите имя">
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">№ Телефона</label>
            <input type="text" class="form-control" id="phone" placeholder="Введите номер телефона">
          </div>
          <div class="mb-3">
            <label for="phone1" class="form-label">№ Телефона(доп.)</label>
            <input type="text" class="form-control" id="phone1" placeholder="Введите дополнительный номер телефона">
          </div>
           <div class="mb-3">
          <label for="new-client-name">Имя:</label>
          <input type="text" id="new-client-name" name="name"  class="form-control">
              </div>
          <div class="mb-3">
          <label for="new-client-phone" class="form-label">Телефон:</label>
          <input type="text" id="new-client-phone" name="phone"  class="form-control">
              </div>
              <div class="mb-3">
          <label for="new-client-phone1" class="form-label">Дополнительный телефон:</label>
          <input type="text" id="new-client-phone1" name="phone1"  class="form-control">
                  </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-primary" id="submitButton">Отправить</button>
      </div>
    </div>
  </div>
</div>

<script>
document.getElementById('submitButton').addEventListener('click', function() {
    const name = document.getElementById('nameInput').value;
    const email = document.getElementById('emailInput').value;
    const message = document.getElementById('messageInput').value;

    console.log("Имя:", name);
    console.log("Email:", email);
    console.log("Сообщение:", message);

    // Здесь можно отправить данные на сервер, используя fetch() или AJAX
});
</script>


{% endblock content %}
